<a href="https://colab.research.google.com/github/ingulator/Calculator-Project-1/blob/main/class_07_09_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
grade = input("please enter a grade")
if int(grade) >= 70:
  print("Pass!")
else:
  print("Fail")

please enter a grade60
Fail

In [6]:
sum = 0
current_number = 1
while current_number <= 20:
    sum += current_number
    current_number += 1
    print("The sum of numbers from 1 to 20 is:", sum)

The sum of numbers from 1 to 20 is: 1
The sum of numbers from 1 to 20 is: 3
The sum of numbers from 1 to 20 is: 6
The sum of numbers from 1 to 20 is: 10
The sum of numbers from 1 to 20 is: 15
The sum of numbers from 1 to 20 is: 21
The sum of numbers from 1 to 20 is: 28
The sum of numbers from 1 to 20 is: 36
The sum of numbers from 1 to 20 is: 45
The sum of numbers from 1 to 20 is: 55
The sum of numbers from 1 to 20 is: 66
The sum of numbers from 1 to 20 is: 78
The sum of numbers from 1 to 20 is: 91
The sum of numbers from 1 to 20 is: 105
The sum of numbers from 1 to 20 is: 120
The sum of numbers from 1 to 20 is: 136
The sum of numbers from 1 to 20 is: 153
The sum of numbers from 1 to 20 is: 171
The sum of numbers from 1 to 20 is: 190
The sum of numbers from 1 to 20 is: 210

In [7]:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
sum_of_numbers = 0
for i in range(1, 21):
    sum_of_numbers += i
print(f"The sum of numbers from 1 to 20 is: {sum_of_numbers}")

The sum of numbers from 1 to 20 is: 210

In [9]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [10]:

numbers = list(range(1, 11))
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10